/* #region Debug */

* {
    border: 1px red dashed;
}

/* #endregion Debug */

/* #region Utilities */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
--db-light-primary: white;
--db-jumbotron: #b4d0e6;
--db-dark-primary: black;
--db-text-lighter: #979998;
--db-brand: #0061fe;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.btn {
    background-color: var(--db-brand);
    color: var(--db-light-primary);
    padding: 0.5rem 0.8rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    width: auto;
    flex-basis: auto;
    padding: 1rem;
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-12 {
    width: 100%;
}

/* #endregion Utilities */

/* #region Header */

header {
    nav {
        justify-content: space-between;
        padding: 1.5rem;
        align-items: center;

        ul {
            align-items: center;
            list-style: none;
            li {
                padding: 0 1rem;
                a {
                    color: var(--db-dark-primary);
                    text-decoration: none;
                }
            }
        }
    }
    

}

/* #endregion Header */



/* #region Main */

/* #endregion Main */





/* #region Footer */

/* #endregion Footer */
