* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.d-flex {
    display: flex;
}

.container {
    width: 30%;
    max-width: 350px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-2 {
    width: calc(100% / 12 * 2);
    flex-basis: auto;
}

.col-3 {
    width: calc(100% / 12 * 3);
    flex-basis: auto;
}

.col-4 {
    width: calc(100% / 12 * 4);
    flex-basis: auto;
}

.col-5 {
    width: calc(100% / 12 * 5);
    flex-basis: auto;
}

.col-6 {
    width: calc(100% / 12 * 6);
    flex-basis: auto;
}



:root {
    --db-light-primary: white;
    --db-text-darker: #574F41;
    --db-dark-primary: black;
    --db-text-lighter: #979998;
    --db-light-secondary: #E1E0DD;
    --db-brand: #0061fe;
    --db-google-brd: #DBDCDF;
    --db-google-text: #3D4042;
    --db-google-hover: #F8FAFF;
    --db-google-hover-brd: #D5E2FA;
    --db-apple-btn-brd: #c9c5bf;
    --db-apple-text: #1D1919;
    --db-apple-hover: #EBEBEB;
    --db-apple-hover-brd: #C4BFB8;
    --db-action-hover: #2356DD;
    }

header {
    position: sticky;
    top: 0;
    background-color: var(--db-light-primary);
    z-index: 10;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid var(--db-text-lighter);
    nav {
        padding: 1.5rem 2rem;
        justify-content: space-between;
        align-items: center;
        a {
            color: var(--db-dark-primary);
            &:visited {
                color: var(--db-dark-primary);
            }
        }
    }
}

main {
    .container {
        padding: 5rem 0;
        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }
        button {
            display: block;
            margin: 0 auto;
            width: 100%;
            font-size: 14px;
        }
        #google,
        #apple {
            margin-bottom: 1.5rem;
        }
        #google {
            min-height: 43px;
            padding: 0.5rem;
            border: 1px solid var(--db-google-brd);
            border-radius: 1vh;
            background-color: var(--db-light-primary);
            span {
                i {
                    font-size: 18px;
                }
                p {
                    color: var(--db-google-text);
                    display: block;
                    flex-grow: 1;
                    font-weight: bold;
                }
            }
            &:hover {
                border-color: var(--db-google-hover-brd);
                background-color: var(--db-google-hover);
                cursor: pointer;
            }
        }
        #apple {
            padding: 0.5rem;
            border: 1px solid var(--db-apple-btn-brd);
            background-color: var(--db-light-primary);
            span {
                align-items: center;
                i {
                    font-size: 25px;
                }
                p {
                    color: var(--db-apple-text);
                    display: block;
                    flex-grow: 1;
                }
            }
            &:hover {
                border-color: var(--db-apple-hover-brd);
                background-color: var(--db-apple-hover);
                cursor: pointer;
            }
        }
        #line-break {
            display: block;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid var(--db-light-secondary);
            line-height: 0.01rem;
            margin: 2rem 0;
            span {
                background-color: var(--db-light-primary);
                padding: 0 10px;
            }
        }
        label {
            display: block;
            font-size: 12px;
            color: var(--db-text-darker);
            margin-bottom: 0.5rem;
        }
        input {
            border: 1px solid var(--db-apple-btn-brd);
            width: 100%;
            min-height: 45px;
            vertical-align: middle;
            box-shadow: none;
            &:hover {
                border-color: var(--db-dark-primary);
            }
            margin-bottom: 2.5rem;
        }
        #action {
            background-color: var(--db-brand);
            color: var(--db-light-primary);
            font-weight: bold;
            font-size: 16px;
            min-height: 45px;
            border: 1px solid var(--db-brand);
            border-radius: 3vh;
            &:hover {
                background-color: var(--db-action-hover);
                border-color: var(--db-action-hover);
                cursor: pointer;
            }
        }
    }
    .popup {
        display: none;
        position: fixed;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        .popup-content {
            position: relative;
            background: var(--db-light-primary);
            padding: 2.5rem;
            h3 {
                font-size: 24px;
                font-weight: 500;
                padding-bottom: 2.5rem;
            }
            .row {
                gap: 40px;
                flex-wrap: nowrap;
                .col-6,
                .col-5,
                .col-4 {
                    ul {
                        line-height: 1.5rem;
                        list-style: none;
                        a {
                            color: var(--db-dark-primary);
                            text-decoration: none;
                        }
                    }
                }
            }
            .close {
                padding: 0.7rem;
                position: absolute;
                right: 10px;
                top: 10px;
                &:hover {
                    background-color: #f6f5f4;
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    color: var(--db-dark-primary);
                    font-size: 24px;
                }
            }
        }
    }
    
    .popup:target {
        display: flex;
    }
}


footer {
    background-color: var(--db-dark-primary);
    color: var(--db-light-primary);
    padding: 3rem 0;
    #footer-box {
        max-width: 1200px;
        margin: 0 auto;
        .row {
            h3 {
                padding: 2rem 0;
            }
            ul {
                list-style: none;
                li {
                    padding: 0.5rem 1.5rem 0.5rem 0;
                }
                a {
                    color: var(--db-light-primary);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline var(--db-light-primary);
                    }
                }
            }
            #bottom {
                padding-top: 3rem;
                i {
                    font-size: 22px;
                    padding: 0 1rem 2rem 0;
                }
                a {
                    color: var(--db-light-primary);
                    &:visited {
                        color: var(--db-light-primary);
                    }
                }
                hr {
                    height: 0px;
                    border: none;
                    border-top: 1px solid #474543;
                }
                span {
                    display: inline-block;
                    padding-top: 2rem;
                    i {
                        vertical-align: middle;
                        font-size: 16px;
                        padding: 0 0.5rem 0.2rem 0;
                    }
                    &:hover {
                        cursor: pointer;
                        span {
                            text-decoration: underline var(--db-light-primary);
                        }
                    }
                }
            }
        }
    }
}